{% extends 'base.html' %}

{%block nav_content%}
<ul class="navbar-nav ml-auto" id="page-top">

  <li class="nav-item dropdown no-arrow">
    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {% if user %}
        <span class="mr-2 d-none d-lg-inline ">{{user.username}}</span>
      {% endif %}
      <i class="fas fa-caret-down"></i>
    </a>
    <!-- Dropdown - User Information -->
    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
      <a class="dropdown-item" href="#">
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
        Profile
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="logout" data-toggle="modal" data-target="#logoutModal">
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
        Logout
      </a>
    </div>
  </li>
</ul>


<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="/logout">Logout</a>
      </div>
    </div>
  </div>
</div>

{% endblock nav_content%}
{% block sidebar_content%}
<!-- Nav Item - Dashboard -->
<li class="nav-item active">
  <a class="nav-link" href="/home">
    <i class="fas fa-fw fa-home"></i>
    <span>Home </span></a>
</li>


<!-- Divider -->
<hr class="sidebar-divider">

{% if privilege == 'admin'%}


<!-- Heading -->
<div class="sidebar-heading">
  Manage Users
</div>

<li class="nav-item">
  <a class="nav-link" href="/users">
    <i class="fas fa-fw fa-users"></i>
    <span>Users</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">
{% endif %}


{% if sidebar_content%}
{% for element in sidebar_content%}

<!-- Heading -->
<div class="sidebar-heading">
  Sessions
</div>

<!-- Nav Item - Charts -->
<li class="nav-item">
  <a class="nav-link" href="/session/{{element[1]}}">
    <i class="fas fa-chalkboard"></i>
    <span>{{element[0]}} - {{element[2]}}</span></a>
</li>

{% endfor%}

{% endif%}

<!-- Divider -->
<hr class="sidebar-divider">
{% endblock sidebar_content%}
{% block body %}
<div id="content-wrapper" class="d-flex flex-column">
<br>
  <!-- Main Content -->
  <div id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class=flashes>
          {% for category, message in messages %}
            <!-- <div class="alert alert-danger text-center">
              <strong>Error!</strong> {{message}}
            </div> -->
            <div class="alert alert-{{ category }} text-center"> {{ message}} </div>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div class="col-8">
          {% for key,value in data.items()%}
          {% if key=="title"%}
          <h1 class="h3 mb-0 text-gray-800">{{value}}</h1>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div class="col">
          {% for key,value in data.items()%}
          {% if key=="description"%}
          <h6 class="w-wrap">{{value}}</h6>
          {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="row justify-content-center pb-4 ">
        <div class="col justify-content-center">
          {% for key,value in data.items()%}
          {% if key=="question"%}
          <h4 class="text-center">{{value}}</h4>
          {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-5 justify-content-center">
          <form  action="/verifyMilestone">
            <div class="form-group">
              <input type="text" name="answer" class ="form-control" placeholder="Answer"></input>
              <input type="hidden" name="user_email" value="{{user.email}}"></input>
            </div>

            <button type="submit" class="btn btn-primary float-right">Send answer</button>
          </form>

        </div>
      </div>




    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->

  <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->




{% endblock body%}
