{% extends 'base.html' %}

{% block body %}
<div id="content-wrapper" class="d-flex flex-column">
<br>
  <!-- Main Content -->
  <div id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class=flashes>
          {% for category, message in messages %}
            <!-- <div class="alert alert-danger text-center">
              <strong>Error!</strong> {{message}}
            </div> -->
            <div class="alert alert-{{ category }} text-center"> {{ message}} </div>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div class="col-8">
          {% for key,value in data.items()%}
          {% if key=="title"%}
          <h1 class="h3 mb-0 text-gray-800">{{value}}</h1>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div class="col">
          {% for key,value in data.items()%}
          {% if key=="description"%}
          <h6 class="w-wrap">{{value}}</h6>
          {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="row justify-content-center pb-2">
        <div class="col justify-content-center">
          {% for key,value in data.items()%}
          {% if key=="text1"%}
          <h4 class="text-center">{{value}}</h4>
          {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="row justify-content-center pb-4">
        <div class="col-5 justify-content-center">
          <form  action="/verifyMilestone">
            <div class="form-group">
              <input class= "form-control" name="rating" type="number" min="0" max="10" step="0.1" placeholder="Rating"/>
            </div>
        </div>
      </div>

      <div class="row justify-content-center pb-2 ">
        <div class="col justify-content-center">
          {% for key,value in data.items()%}
          {% if key=="text2"%}
          <h4 class="text-center">{{value}}</h4>
          {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="row justify-content-center pb-4">
        <div class="col-5 justify-content-center">

            <textarea class="form-control pb-4" name="comment" rows="6"></textarea>
        </div>
      </div>

      <div class="row justify-content-center pb-4">
        <div class="col-5 justify-content-center">
          <button type="submit" class="btn btn-primary float-right">Send answer</button>
          </form>
        </div>
      </div>







    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->

  <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->




{% endblock body%}
