<!-- If you want to use the layout of the whole platform include this line -->
{% extends 'base.html' %}

<!-- Here the body starts -->
{% block body %}
<div id="content-wrapper" class="d-flex flex-column">
<br>
  <!-- Main Content -->
  <div id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class=flashes>
          {% for category, message in messages %}
            <!-- <div class="alert alert-danger text-center">
              <strong>Error!</strong> {{message}}
            </div> -->
            <div class="alert alert-{{ category }} text-center"> {{ message}} </div>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div class="col-8">
          <h1 class="h3 mb-0 text-gray-800">Template</h1>
        </div>
      </div>
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div class="col">
          <h6 class="w-wrap">Template description</h6>
        </div>
      </div>



      <!-- IMPORTANT: This form is required for submitting the answers,
    inputs can be variable. -->
      <form  action="/verifyMilestone">
        <input type="Text"></input>
        <button type="submit" class="btn btn-primary float-right">Send answer</button>
      </form>

    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->

  <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->




{% endblock body%}
