<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>LabTon</title>
  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/one-page-wonder.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/fonts/iconic/css/material-design-iconic-font.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/vendor/animsition/css/animsition.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/css/util.css">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">

  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for admin template-->
  <link href="/static/css/sb-admin-2.css" rel="stylesheet">

  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>

  <!-- Datetime picker -->
  <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" href="/static/css/podium.css">

  <!-- Clasification table  -->
  <!--===============================================================================================-->
  	<link rel="stylesheet" type="text/css" href="/static/vendor/perfect-scrollbar/perfect-scrollbar.css">
  <!--===============================================================================================-->
  	<link rel="stylesheet" type="text/css" href="/static/Table_Fixed_Header/css/util.css">
  	<link rel="stylesheet" type="text/css" href="/static/Table_Fixed_Header/css/main.css">
  <!--===============================================================================================-->




</head>

<body>
{% block nav %}
  <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
      <div class="container">
        <a class="navbar-brand text-white">LabTon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse col-12" id="navbarResponsive">
          {%block nav_content%}
          <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if user %}
                  <span class="mr-2 d-none d-lg-inline ">{{user}}</span>
                {% endif %}
                <i class="fas fa-caret-down"></i>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="logout" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>

          <!-- Logout Modal-->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                  <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
              </div>
            </div>
          </div>
          {% endblock nav_content%}
        </div>
      </div>
    </nav>

{% block sidebar %}
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      {% block sidebar_content%}
      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/home">
          <i class="fas fa-fw fa-home"></i>
          <span>Home </span></a>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider">

      {% if privilege == 'admin'%}

      <!-- Heading -->
      <div class="sidebar-heading">
        Manage Users
      </div>

      <li class="nav-item">
        <a class="nav-link" href="/users">
          <i class="fas fa-fw fa-users"></i>
          <span>Users</span></a>
      </li>
      {% endif %}


      {% if sidebar_content%}

      <!-- Divider -->
      <hr class="sidebar-divider">
      <!-- Heading -->
      <div class="sidebar-heading">
        Sessions
      </div>
      {% for element in sidebar_content%}
      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="/session/{{element[1]}}">
          <i class="fas fa-chalkboard"></i>
          <span>{{element[0]}} - {{element[2]}}</span></a>
      </li>

      {% endfor%}

      {% endif%}

      <!-- Divider -->
      <hr class="sidebar-divider">
      {% endblock sidebar_content%}

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>

    <!-- End of Sidebar -->
{% endblock sidebar %}


{% endblock nav %}





{% block body %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock body %}

{% block footer%}
</div>
  <!-- Footer -->
  <footer class="sticky-footer py-8 bg-black">
    <div class="container my-auto justify-content-center">
      <br>
      <div class="text-center">
        <a class="justify-content-center" rel="license" href="http://creativecommons.org/licenses/by/4.0/">
          <img class="center-block" alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
          <br><br><p class="mtext-center text-white small copyright">This work is licensed under a <a rel="license" class="m-0 text-center text-white small copyright" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
      </div>
    </div>
    <!-- /.container -->
  </footer>

{% endblock footer%}

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.js"></script>

<!-- Core plugin JavaScript-->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/static/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/static/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->

<script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react-dom.js'></script>
<script src="/static/js/charts/podium.js"></script>
<script src="/static/js/charts/podiumSubject.js"></script>
<script src="/static/js/charts/podiumPractice.js"></script>



<!-- clasification table scripts -->
<!--===============================================================================================-->

<!--===============================================================================================-->
	<script src="/static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="/static/Table_Fixed_Header/js/main.js"></script>



</body>



</html>
