{% extends 'base.html' %}

{%block nav_content%}
<ul class="navbar-nav ml-auto">

  <li class="nav-item dropdown no-arrow">
    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {% if user %}
        <span class="mr-2 d-none d-lg-inline ">{{user}}</span>
      {% endif %}
      <i class="fas fa-caret-down"></i>
    </a>
    <!-- Dropdown - User Information -->
    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
      <a class="dropdown-item" href="#">
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
        Profile
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="logout" data-toggle="modal" data-target="#logoutModal">
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
        Logout
      </a>
    </div>
  </li>
</ul>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="/logout">Logout</a>
      </div>
    </div>
  </div>
</div>
{% endblock nav_content%}

{% block sidebar_content%}
<!-- Nav Item - Dashboard -->
<li class="nav-item active">
  <a class="nav-link" href="/home">
    <i class="fas fa-fw fa-home"></i>
    <span>Home</span></a>
</li>


{% if privilege == 'admin'%}
<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
  Manage Users
</div>

<li class="nav-item">
  <a class="nav-link" href="/users">
    <i class="fas fa-fw fa-users"></i>
    <span>Users</span></a>
</li>
{% endif %}



<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
  Subjects
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
    <i class="fas fa-fw fa-cog"></i>
    <span>Components</span>
  </a>
  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Custom Components:</h6>
      <a class="collapse-item" href="buttons.html">Buttons</a>
      <a class="collapse-item" href="cards.html">Cards</a>
    </div>
  </div>
</li>

<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
    <i class="fas fa-fw fa-wrench"></i>
    <span>Utilities</span>
  </a>
  <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Custom Utilities:</h6>
      <a class="collapse-item" href="utilities-color.html">Colors</a>
      <a class="collapse-item" href="utilities-border.html">Borders</a>
      <a class="collapse-item" href="utilities-animation.html">Animations</a>
      <a class="collapse-item" href="utilities-other.html">Other</a>
    </div>
  </div>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
  Addons
</div>


<!-- Nav Item - Charts -->
<li class="nav-item">
  <a class="nav-link" href="charts.html">
    <i class="fas fa-fw fa-chart-area"></i>
    <span>Charts</span></a>
</li>

<!-- Nav Item - Tables -->
<li class="nav-item">
  <a class="nav-link" href="tables.html">
    <i class="fas fa-fw fa-table"></i>
    <span>Tables</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">
{% endblock sidebar_content%}



{% block body%}

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
<br>
  <!-- Main Content -->
  <div id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class=flashes>
          {% for category, message in messages %}

            <div class="alert alert-{{ category }} text-center"> {{ message}} </div>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div class="col-7">
          <h1 class="h3 mb-0 text-gray-800">Users from {{subject.acronym}} ({{subject.year}}-{{subject.year+1}})</h1>
        </div>


      {% if role=='professor' or role=='admin'%}
    <div class="col-2">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle shadow animated--grow-in w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-cloud-upload-alt mr-2"></i>
          Import users
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button type="button" class="dropdown-item" data-toggle="modal" data-target="#uploadUserModal">
            <i class="fas fa-user mr-2"></i>
            Unique user

          </button>
          <button type="button" class="dropdown-item" data-toggle="modal" data-target="#uploadUsersCSVModal">
            <i class="fas fa-file-csv mr-2"></i>
            Import users from CSV
          </button>
        </div>
      </div>
    </div>

    <!-- CSV Modal -->
    <div class="modal fade" id="uploadUsersCSVModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="uploadUsersCSVTitle">Upload file</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <h6> Import your CSV file here </h6>
            <div class="row">
              <div class="col">
                <form action="/uploadUsers" method="post" id="upload-form" enctype="multipart/form-data">
                    <!-- <div class="custom-file">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                      <input type="file" class="custom-file-input"name="file" id="js-upload-input">

                    </div> -->
                    <label> CSV File </label>
                    <div class="row">
                      <div class="col">

                        <input type="file" name="file" id="js-upload-files" >
                      </div>
                    </div>

                    <input type="hidden" name="subject_id" value={{subject.id}}>

                    <div class="row pt-2 pb-2">
                      <div class="col">
                        <label> Role </label>
                        <select class="custom-select" name="role" id="role">
                          {% for role in roles_db%}
                          <option value={{role.name}}>{{role.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>

              </div>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn  btn-primary">Upload</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- end modal CSV -->
  <!-- User Modal -->

    <div class="modal fade" id="uploadUserModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="uploadUsersCSVTitle"> Insert user</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <h6> Insert the user's data</h6>

            <div class="row">
              <div class="col">
                <div class="form-group">
                <form action="/uploadUser" method="post" id="upload-form">
                  <div class="row pt-2 pb-2">
                    <div class="col">
                      <input class= "form-control" type="email" name="email" id="js-upload-files" placeholder="User email" enctype="multipart/form-data" >

                      <input type="hidden" name="subject_id" value={{subject.id}}>
                    </div>
                  </div>

                  <div class="row pt-2 pb-2">
                    <div class="col">
                      <label> Role </label>
                      <select class="custom-select" name="role" id="role">
                        {% for role in roles_db%}
                        <option value={{role.name}}>{{role.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn  btn-primary">Upload</button>
                </form>

          </div>
        </div>
      </div>
    </div>
    <!-- end modal User -->
      {% endif %}



      </div>

      <!-- Content Row -->

      <!-- Content Row -->
      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" class="text-center">Name</th>
              <th scope="col" class="text-center">Email</th>
              <th scope="col" class="text-center">Role</th>
              <th scope="col" class="text-center">Actions</th>

            </tr>
          </thead>
          <tbody>
            {% for users in users_in_subject%}
              <tr>
                <td class="text-center">{{users[0].username}}</td>
                <td class="text-center">{{users[0].email}}</td>
                <td class="text-center">{{users[1].name}}</td>

                <td class="text-center">
                  {% if not user==(users[0].email.split('@'))[0]%}
                  <div class="row">
                    {% if role=='admin'%}
                    <div class="col-sm">

                      <a data-toggle="modal" data-id="{{users[0].email}}" title="Add this item" class="modifyUserModal btn btn-light" href="#modifyUserModal">Modify Role</a>

                    </div>
                    {% endif %}

                    <script>
                    $(document).ready(function () {
                      $(document).on("click", ".modifyUserModal", function () {
                           var userEmail = $(this).data('id');
                           $(".modal-body #email").val( userEmail );
                      });
                    });

                    </script>

                    <div class="col-sm text-center">
                      <form action="/deleteUserSubject" method="POST">
                          <input type="hidden" name="user_id" value={{users[0].id}} >
                          <input type="hidden" name="subject_id" value={{subject.id}}>
                          <button type="submit" class="btn btn-secondary ">Delete</button>
                      </form>
                    </div>
                  </div>
                  {% endif %}
                </td>
              </tr>
            {% endfor%}
          </tbody>
        </table>
      </div>




      <!-- modify User Modal -->
      <div class="modal fade" id="modifyUserModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="uploadUsersCSVTitle">Modify Role</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <h6> Introduce new role </h6>
            <form action="/changeRole" method="post" id="upload-form" enctype="multipart/form-data">
              <div class="row pt-2 pb-2">
                <div class="col">
                  <select class="custom-select" name="role" id="role">
                    {% for role in roles_db%}
                    <option value={{role.name}}>{{role.name}}</option>
                    {% endfor %}
                  </select>
                  <input type="hidden" name="email" id="email" value=""/>
                  <input type="hidden" name="subject_id" value={{subject.id}}>

                </div>

              </div>

              </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn  btn-primary">Update</button>
              </form>
            </div>
          </div>
        </div>
      </div>


      <!-- end modal modify User Subject-->

    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->


</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
<i class="fas fa-angle-up"></i>
</a>



{% endblock body%}
