{% extends 'base.html' %}



{%block nav_content%}
<ul class="navbar-nav ml-auto">

  <li class="nav-item dropdown no-arrow">
    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {% if user %}
        <span class="mr-2 d-none d-lg-inline ">{{user}}</span>
      {% endif %}
      <i class="fas fa-caret-down"></i>
    </a>
    <!-- Dropdown - User Information -->
    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
      <a class="dropdown-item" href="#">
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
        Profile
      </a>

      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="logout" data-toggle="modal" data-target="#logoutModal">
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
        Logout
      </a>
    </div>
  </li>
</ul>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="/logout">Logout</a>
      </div>
    </div>
  </div>
</div>
{% endblock nav_content%}
{% block sidebar_content%}
<!-- Nav Item - Dashboard -->
<li class="nav-item active">
  <a class="nav-link" href="/home">
    <i class="fas fa-fw fa-home"></i>
    <span>Home </span></a>
</li>



{% if privilege == 'admin'%}
<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
  Manage Users
</div>

<li class="nav-item">
  <a class="nav-link" href="/users">
    <i class="fas fa-fw fa-users"></i>
    <span>Users</span></a>
</li>
{% endif %}


{% if sidebar_content%}
{% for element in sidebar_content%}
<!-- Divider -->
<hr class="sidebar-divider">
<!-- Heading -->
<div class="sidebar-heading">
  Sessions
</div>

<!-- Nav Item - Charts -->
<li class="nav-item">
  <a class="nav-link" href="/session/{{element[1]}}">
    <i class="fas fa-chalkboard"></i>
    <span>{{element[0]}} - {{element[2]}}</span></a>
</li>

{% endfor%}

{% endif%}


<br><br>
{% endblock sidebar_content%}

{% block body%}

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
<br>
  <!-- Main Content -->
  <div id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class=flashes>
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} text-center"> {{ message}} </div>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div class="col-8">
          <h1 class="h3 mb-0 text-gray-800">{{session_a.name}}</h1>
          <div id="session_id" value="{{session_a.id}}"></div>
        </div>

        {% if role=="admin" or role=="professor"%}
        <div class="col">
          <a href="/manageSession/{{session_a.id}}" class="dropdown-item" >
              <span class="btn btn-primary">
                <i class="fas fa-user-friends mr-2"></i>
                Manage Users
              </span>
          </a>
        </div>

        <div class="col">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle shadow animated--grow-in w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cog mr-2"></i>
            Settings
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <button type="button" class="dropdown-item" data-toggle="modal" data-target="#updateSessionModal">
              <i class="fas fa-redo-alt mr-2"></i>
              Update Session
            </button>
            <button type="button" class="dropdown-item" data-toggle="modal" data-target="#deleteSession">
              <i class="fas fa-trash mr-2"></i>
              Delete Session
            </button>

          </div>
        </div>
      </div>

      <!-- Delete Session Modal-->
      <div class="modal fade" id="deleteSession" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Are you sure?</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Cancel">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Click "Delete" for eliminate this Session</div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <a class="btn btn-primary" href="/deleteSession/{{session_a.id}}">Delete</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Delete Session Modal -->

      <!-- update Practice Modal -->
      <div class="modal fade" id="updateSessionModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Update Session</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <h6> Introduce new data </h6>
            <form action="/updateSession" method="post" id="upload-form" enctype="multipart/form-data">
                <div class="row pt-2 pb-2">
                  <div class="col">
                      <label> Name </label>
                        <input class= "form-control" name="name" value="{{session_a.name}}" >
                  </div>
                </div>

                <div class="row pt-2 pb-2">
                    <div class='col'>
                            <label> Start date</label>
                           <div class="input-group date" data-target-input="nearest">
                                <input type="text" class="form-control start-date" name="start_date"/>
                                <div class="input-group-append" >
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                            <script>
                                $('.start-date').datetimepicker({
                                   format: 'dd/mm/yyyy hh:ii',

                                });
                            </script>

                    </div>
                </div>
                <div class="row pt-2 pb-2">
                    <div class='col'>
                            <label> End date <i>(Optional)</i></label>
                           <div class="input-group date" data-target-input="nearest">
                                <input type="text" class="form-control end-date" name="end_date" />
                                <div class="input-group-append" >
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                            <script>
                                $('.end-date').datetimepicker({
                                  format: 'dd/mm/yyyy hh:ii',
                                });
                            </script>

                    </div>
                </div>

                <div class="row pt-2 pb-2">
                  <div class="col">
                    <label> Initial Points </label>
                    <input class= "form-control" name="points" type="number" min="0" step="1" value="{{session_a.points}}">

                  </div>
                </div>

                <div class="row pt-2 pb-2">
                  <div class="col">
                      <label> Description <i>(Optional)</i> </label>
                        <input class= "form-control" name="description" value="{{session_a.description}}" maxlength="1000" >
                  </div>
                </div>

                <input type= "hidden" name="practice_id" value={{session_a.practice_id}}>
                <input type= "hidden" name="session_id" value={{session_a.id}}>

              </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Update</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- end create modal Practice-->
        {% endif %}


      </div>


      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div class="col">
          <h6 class="w-wrap">{{session_a.description}}</h6>
        </div>
      </div>

      <!-- Content Row -->
      {% if end_datetime is none %}
        {% if start_datetime < timestamp %}
        {% if milestones%}
        <h6 class="pb-3"> Active milestones </h6>
        {% endif %}
        <div class="row">
          {% for element in milestones%}
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="card">
                {% if element[1]==True%}
                <a href="#" class="btn btn-primary disabled" >
                    <span class="icon text-white-50">
                      <i class="pr-2 fas fa-map-marker"></i>
                      <b class="icon text-white">{{element[0].name}} (Disabled)</b>
                    </span>
                </a>
                {% else %}
                <a href="/milestone/{{element[0].id}}" class="btn btn-primary" >
                    <span class="icon text-white-50">
                      <i class="pr-2 fas fa-map-marker"></i>
                      <b class="icon text-white">{{element[0].name}}</b>
                    </span>
                </a>
                {% endif%}
              {{element}}
              </div>
            </div>
          {% endfor %}
        </div>

        {% endif%}
      {% else %}
        {% if start_datetime < timestamp and timestamp < end_datetime %}
        {% if milestones%}
        <h6 class="pb-3"> Active milestones </h6>
        {% endif %}

          <div class="row">
            {% for element in milestones%}
              <div class="col-xl-3 col-sm-6 mb-5">
                <div class="card">
                  {% if element[1]==True%}
                  <a href="#" class="btn btn-primary disabled" >
                      <span class="icon text-white-50">
                        <i class="pr-2 fas fa-map-marker"></i>
                        <b class="icon text-white">{{element[0].name}} (Disabled)</b>
                      </span>
                  </a>
                  {% else %}
                  <a href="/milestone/{{element[0].id}}" class="btn btn-primary" >
                      <span class="icon text-white-50">
                        <i class="pr-2 fas fa-map-marker"></i>
                        <b class="icon text-white">{{element[0].name}}</b>
                      </span>
                  </a>
                  {% endif%}
                </div>
              </div>
            {% endfor %}
      </div>
        {% endif%}
      {% endif %}

      <div class="row">


          <!-- Area Chart -->
          <div class="col justify-content-center">
            <h3 class="pb-3 text-center text-gray-800"> Session Clasification </h3>

            <!-- partial:index.partial.html -->
            <div id="podium"></div>
            <!-- partial -->

          </div>
      </div>
      </div>
    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->

  <!-- End of Footer -->


<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
<i class="fas fa-angle-up"></i>
</a>

<script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react-dom.js'></script>
<script  src="/static/js/charts/podium.js"></script>




{% endblock body%}
