{% extends 'base.html' %}

{%block nav_content%}
<ul class="navbar-nav ml-auto">

  <li class="nav-item dropdown no-arrow">
    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {% if user %}
        <span class="mr-2 d-none d-lg-inline ">{{user}}</span>
      {% endif %}
      <i class="fas fa-caret-down"></i>
    </a>
    <!-- Dropdown - User Information -->
    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
      <a class="dropdown-item" href="#">
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
        Profile
      </a>

      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="logout" data-toggle="modal" data-target="#logoutModal">
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
        Logout
      </a>
    </div>
  </li>
</ul>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="/logout">Logout</a>
      </div>
    </div>
  </div>
</div>
{% endblock nav_content%}



{% block body%}

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
<br>
  <!-- Main Content -->
  <div id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class=flashes>
          {% for category, message in messages %}
            <!-- <div class="alert alert-danger text-center">
              <strong>Error!</strong> {{message}}
            </div> -->
            <div class="alert alert-{{ category }} text-center"> {{ message}} </div>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div class="col">

          <h1 class="h3 mb-0 text-gray-800">{{subject.acronym}} ({{subject.year}}-{{subject.year+1}})</h1>
        </div>
        {% if role=='professor' or role=='admin'%}
      <div class="col-2">
        <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#createPractice">
          Create practice
        </button>
      </div>


      <div class="col-2">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle shadow animated--grow-in w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-cog mr-2"></i>
          Settings
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a href="/manageSubject/{{subject.id}}" class="dropdown-item" >
              <span class="icon">
                Manage Users
                <i class="fas fa-user-friends ml-2"></i>
              </span>
          </a>
          {% if role=='admin'%}
          <button type="button" class="dropdown-item" data-toggle="modal" data-target="#deleteSubjectModal">
            Delete Subject
            <i class="fas fa-trash ml-2"></i>
        {% endif%}
      </button>
    </div>
  </div>


        <!-- Delete Subject Modal-->
        <div class="modal fade" id="deleteSubjectModal" tabindex="-1" role="dialog"  aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Are you sure?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Cancel">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">Click "Delete" for eliminate this Subject.</div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/deleteSubject/{{subject.id}}">Delete</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Delete Subject Modal -->
        <!-- Practice Modal -->
        <div class="modal fade" id="createPractice" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="uploadUsersCSVTitle">Create a new Practice</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <h6> Introduce data </h6>
              <form action="/createPractice" method="post" id="upload-form" enctype="multipart/form-data">
                <div class="row pt-2 pb-2">
                  <div class="col">
                      <label> Name </label>
                        <input class= "form-control" name="name" placeholder="Name" >
                  </div>
                </div>
                <div class="row pt-2 pb-2">
                  <div class="col">
                      <label> Milestones </label>
                      <input class= "form-control" name="milestones" type="number" min="0" step="1"/>
                  </div>
                </div>

                <div class="row pt-2 pb-2">
                  <div class="col">
                      <label> Rating way </label>
                      <select class="custom-select" name="rating_way" id="rating_way">
                        {% for type in rating_ways%}
                        <option value={{type}}>{{type}}</option>
                        {% endfor%}
                      </select>
                  </div>
                </div>

                  <div class="row pt-2 pb-2">
                    <div class="col">
                        <label> Description <i>(Optional)</i> </label>
                          <input class= "form-control" name="description" placeholder="Description" >
                    </div>
                  </div>
                  <input type="hidden" name="subject_id" value={{subject.id}}>
                </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn  btn-primary">Create</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- end modal Practice-->

      </div>
      {% endif %}

      </div>

      <div class="row">

        {% for element in practices%}
          <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
              <a href="/practice/{{element.id}}" class="btn btn-primary" >
                  <span class="icon text-white-50">
                    <i class="pr-2 fas fa-book-open"></i>
                    <b class="icon text-white">{{element.name}}</b>
                  </span>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->

  <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
<i class="fas fa-angle-up"></i>
</a>


{% endblock body%}
